.content {
    padding-top: 10px;
    padding-bottom: 10px
}

.icon.btn {
    cursor: pointer;
}

input {
    border: none;
    font-size: 16px;
    &:focus {
        outline: none;
        border-bottom: 1px solid #00d1b2;
    }
}

.selected {
    color: darkcyan;
    font-weight: bold;
}

.card {
  height: fit-content;
  width: 500px;
}

.card-content {
  padding: 0.5rem;
}

figure {
  margin: 1em;
}
