<section class="hero is-primary header">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Angular
      </h1>
      <h2 class="subtitle">
        <span class="icon">
          <i class="fa fa-snowflake-o"></i>
        </span>
        Break the Ice
        <span class="icon">
          <i class="fa fa-snowflake-o"></i>
        </span>
      </h2>
    </div>
  </div>
</section>

<section class="section body">
  <div class="container is-fluid">
    <div class="tabs is-boxed">
      <ul>
        <li [class.is-active]="tab=='preview'" (click)="tab='preview'">
          <a>
            <span class="icon is-small"><i class="fa fa-eye"></i></span>
            <span>Preview</span>
          </a>
        </li>
        <li [class.is-active]="tab=='tasks'" (click)="tab='tasks'">
          <a>
            <span class="icon is-small"><i class="fa fa-check-square-o"></i></span>
            <span>Tasks</span>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="tab=='preview'">
      <app-users></app-users>    
    </div>
    <div *ngIf="tab=='tasks'">
      <div class="content">
        <h2>Tasks:</h2>
        <ul>
          <li>List users from user array</li>
          <li>Implement a edit mode providing:</li>
          <ul>
            <li>Add user</li>
            <li>Remove user</li>
            <li>Edit User</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>NG-BreakTheIce</strong> by <a href="https://twitter.com/c4rniatto">Mateus Carniatto</a>. The source code
        is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer>